@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

:root {
    --white: #ffffff;
    --light-gray: #e0e0e0;
    --gray: #c4c4c4;
    --dark-gray: #606060;
    --black: #000000;
    --light-yellow: #f8f8c4;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
}

input {
    height: 30px;
    border: 1px solid var(--dark-gray);
    background: var(--white);
}

select {
    height: 30px;
    border: 1px solid var(--dark-gray);
    background: var(--white);
}

button {
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-gray);
}

.item-form {
    width: fit-content;
}

.form-section label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-submit {
    margin-top: 10px;
    text-align: center;
}

#table-header {
    background-color: var(--black);
    color: var(--white);
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

.navbar ul li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar ul li a {
    padding: 10px;
    color: white;
}

.navbar ul li a.active {
    color: var(--black);
    background-color: var(--white);
}

.table {
    min-width: fit-content;
}

.inv-header {
    height: 50px;
}

.inv-header p {
    margin: 0;
}

.inv-row {
    display: flex;
    height: 26px;
    border-bottom: 1px solid var(--gray);
}

.inv-row:hover {
    background-color: var(--light-yellow);
}

.row-ok {
    background-color: var(--white);
}

.row-not-ok {
    background-color: var(--gray);
}

.inv-footer {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.inv-footer p {
    text-align: center;
    margin: 0;
    font-style: italic;
    color: var(--gray);
}

.cell {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
}

.cell-warehouse_id {
    width: 115px;
}

.cell-sku {
    width: 250px;
}

.cell-size {
    width: 80px;
}

.cell-notes {
    width: 200px;
}

.cell-quantity {
    width: 70px;
}

.cell-condition {
    width: 200px;
}

.cell-inbounddate {
    width: 150px;
}

.cell-outbounddate {
    width: 150px;
}

.cell-status {
    width: 200px;
}

.cell-addendum {
    min-width: 600px;
}

.sku-container {
    position: relative;
    display: inline-block;
}

.sku-box {
    border: 1px solid black;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: white;
    z-index: 10;
    max-height: 200px;
    overflow-y: scroll;
}

.sku-suggestion {
    font-size: small;
    padding: 1px;
    margin: 0;
    cursor: pointer;
}


.sku-suggestion:hover,
.sku-suggestion.active {
    color: white;
    background: black;
}